@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

div,
h1,
h2,
h3,
p,
input,
button,
table,
thead,
tbody,
tr,
td {
    margin: 0;
    padding: 0;
    border: 1px solid red;
    box-sizing: border-box;
    font-family: 'Roboto', 'Nanum Myeongjo', 'Nanum Gothic', serif;
}

table {
    margin-top: 30px;
}