.rdev {
    border: 0;
}

#res-plot {
    position: relative;
    max-width: 700px;
    margin: 20px auto 30px;
    height: 420px;
    @extend .rdev;

    $main-color: grey;
    $sub-color: white;

    svg {
        @extend .rdev;

        path {
            fill: none;
            stroke: black;
            stroke-width: 0.5;
        }

        circle {
            fill: transparentize($main-color, 0.4);
        }

        .label {
            fill: black;
        }

        #s-rect {
            fill: transparentize($main-color, 0.8);
        }
    }

    #item-info {
        position: absolute;
        background: white;
        padding: 1px 5px;
        // display: none;
        font-size: 12px;
        pointer-events: none;
        border: 1px solid transparentize($main-color, 0.2);
    }

    #plot-type-btn {
        display: none;
        position: absolute;
        bottom: 10px;
        right: 40px;
        @extend .rdev;

        i {
            font-size: 30px;
            color: transparentize($main-color, 0.2);
            border: 0;
        }
    }
}
